.final-footer {
  display: flex;
  white-space: nowrap;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f6f8fb;
  border: 1px solid #e0e0e0;
  justify-content: space-between;
  padding-block: 2px;
  padding-right: 2px;
  padding-left: 0.5rem;
}

.final-footer p{
  text-overflow: ellipsis;
  overflow: hidden;
}

.final-body img {
  object-fit: cover;
  border-radius: 0.75rem;
  max-height: 14rem;
  width:21rem;
  height: auto;
}

