.image-body {
  position: relative;
  border: 1px dashed #97bef4;
  border-radius: 0.75rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#file-upload{
  display:none
}